@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot') format('embedded-opentype'),
		  url('../fonts/icomoon.woff') format('woff'),
		  url('../fonts/icomoon.ttf') format('truetype'),
		  url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5px 0 0 0;
  box-sizing: padding-box;
/*  position: fixed;
  top: 0;
  left: 0;*/
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;/* for W3C-compliant browsers */
}

.main_content {
  display: inline-block;
}

canvas {
  border: none;
}

.controls, .rst {
  margin-top: 20px;
  width: 100%;
  padding: 0;
  display: none;
}

.rst {
	display: block;
	background-color: red;
	height: 30px;
	padding-top: 10px;
	cursor: pointer;
}

.controls div{
  height: 70px;
  display: block;
}

.controls span::before{
  vertical-align: middle;
}

.controls .up, .down, .sides {
  text-align: center;
}

.controls .up .up_button{
  /* for W3C-compliant browsers */
  background-image: linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for Safari 5.03+ and Chrome 7+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(109,109,109,255)), color-stop(0.4970625, rgba(141,141,141,255)), color-stop(0.80090912270625, rgba(173,173,173,255)));
  /* for Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for Opera 11.1+ */
  background-image: -o-linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d6d6d', endColorstr='#8d8d8d'endColorstr='#adadad');
  display: inline-block;
  width: 70px;
}

.controls .down .down_button{
  /* for W3C-compliant browsers */
  background-image: linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for Safari 5.03+ and Chrome 7+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(109,109,109,255)), color-stop(0.4970625, rgba(141,141,141,255)), color-stop(0.80090912270625, rgba(173,173,173,255)));
  /* for Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for Opera 11.1+ */
  background-image: -o-linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d6d6d', endColorstr='#8d8d8d'endColorstr='#adadad');
  display: inline-block;
  width: 70px;
}

.controls .sides .right, .controls .sides .left {
  /* for W3C-compliant browsers */
  background-image: linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for Safari 5.03+ and Chrome 7+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(109,109,109,255)), color-stop(0.4970625, rgba(141,141,141,255)), color-stop(0.80090912270625, rgba(173,173,173,255)));
  /* for Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for Opera 11.1+ */
  background-image: -o-linear-gradient(top, rgba(109,109,109,255) 0%, rgba(141,141,141,255) 50%, rgba(173,173,173,255) 80%);
  /* for IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d6d6d', endColorstr='#8d8d8d'endColorstr='#adadad');
  display: inline-block;
  width: 70px;
}

.controls .sides .plant {
  /* for W3C-compliant browsers */
  background-image: linear-gradient(top, rgba(153,0,0,255) 0%, rgba(188,0,0,255) 50%, rgba(224,0,0,255) 97%);
  /* for Safari 5.03+ and Chrome 7+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(153,0,0,255)), color-stop(0.5029375, rgba(188,0,0,255)), color-stop(0.97150246245625, rgba(224,0,0,255)));
  /* for Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, rgba(153,0,0,255) 0%, rgba(188,0,0,255) 50%, rgba(224,0,0,255) 97%);
  /* for Opera 11.1+ */
  background-image: -o-linear-gradient(top, rgba(153,0,0,255) 0%, rgba(188,0,0,255) 50%, rgba(224,0,0,255) 97%);
  /* for IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#bc0000'endColorstr='#e00000');
  display: inline-block;
  width: 70px;
}

.reset {
	display: inline-block;
	float: left;
	height: 20px;
	width: 50px;
	cursor: pointer;
	background-color: red;
}

.reset:before {
	display: block;
}

.icon-clock2:before {
	content: "\e94f";
}

.icon-arrow-up:before {
	content: "\ea32";
}

.icon-arrow-right:before {
	content: "\ea34";
}

.icon-arrow-down:before {
	content: "\ea36";
}

.icon-arrow-left:before {
	content: "\ea38";
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
  font-size: 40px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-device-width : 768px) {
  .controls {
    display: block;
  }
}

@media only screen and (max-device-width : 1024px) and (orientation : landscape) {
  .controls {
    display: block;
  }
}
